* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
}

&:before {
    background-image: url('../images/geld1.png');
    content: '';
    display: block;
    height: 100%;
    filter: blur(2px);
    opacity: .6;
    position: absolute;
    width: 100%;
}

.header {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    height: 20rem;
    width: 50rem;
    transform: translate(-50%, -50%);
    padding: 1rem;
}

.header .c-content-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.header nav {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
}

.header nav ul {
    display: flex;
    gap: 2rem;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    border: solid 1px grey;
    border-radius: .4rem;
}

.header nav ul li a {
    display: block;
    min-width: 7rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem 0 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: inherit;
}

.c-content-inner__title {
    font-size: 3rem;
}

.c-content-inner__text {
    font-size: 1.3rem;
    margin-bottom: 7rem;
}

.faq-container {
    text-align: start;
    position: absolute;
    top: 80%;
    left: 50%;
    height: 20rem;
    width: 50rem;
    transform: translate(-50%, -50%);
    padding: 1rem;
}

.faq-container .faq .faq--question {
    display: flex;
    flex-direction: row;
}

.faq-container .faq .faq--question .faq--question-arrow {
    width: 3rem;
    vertical-align: center;
    margin-left: 32rem;
    height: 3rem;
    margin-top: .3rem;
}

.faq-container .faq {
    border: 2px solid #777777;
    border-radius: 1.5rem;
    padding: 1rem;
}

.faq-container .faq--question-arrow {
    cursor: pointer;
}

.faq-container .faq p {
    display: none;
}