/**
primary color = dark blue = #051821
Secondary color = dark green = #1A4645
tertiary color = lighter green = #266867
quaternary color = orange = #F58800
quinary color = yellow = #F8BC24
 */
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
}

main {
    width: 100%;
}

.container {
    background-image: url('../images/geld3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-bottom: 50%; /* 2:1 */
}

.container__content .start_button {
    background-color: #F8BC24;
    width: 10rem;
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #051821;
    margin-top: 2rem;
    cursor: pointer;
}

@media screen and (max-width: 1080px) {
    .container__content .start_button {
        font-size: .9rem;
        width: 7rem;
    }
}

.container__content .start_button:hover {
    background-color: #051821;
    color: white;
}

.container__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10rem;
    width: 50rem;
}

@media screen and (max-width: 1250px) {
    .container__content {
        left: 4rem;
        width: 40rem;
    }
}

@media screen and (max-width: 800px) {
    .container__content {
        left: 4rem;
        width: 20rem;
    }
}

@media screen and (max-width: 680px) {
    .container__content {
        left: 2rem;
        width: 20rem;
    }
}


.container__content .content__title {
    font-size: 4rem;
    color: white;
    margin-bottom: 0;
}

@media screen and (max-width: 1080px) {
    .container__content .content__title {
        font-size: 3rem;
    }
}

@media screen and (max-width: 800px) {
    .container__content .content__title {
        font-size: 1.8rem;
    }
}

.container__content .content__text {
    font-size: 1.3rem;
    color: white;
    margin-top: 1rem;
}

@media screen and (max-width: 1080px) {
    .container__content .content__text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .container__content .content__text {
        font-size: .9rem;
    }
}

@media only screen and (max-width: 480px) {

    .container {
        padding-bottom: 0;
    }

    .container__content {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 30px;
    }

}

.faq_content {
    display: flex;
    gap: 5rem;
    padding: 4rem 10rem;
}

@media screen and (max-width: 1250px) {
    .faq_content {
        flex-direction: column;
        align-items: center;
        padding: 4rem 4rem;
    }
}

@media screen and (max-width: 680px) {
    .faq_content {
        flex-direction: column;
        align-items: center;
        padding: 1rem 2rem;
    }
}

.faq_content .faq_content_text-block {
    max-width: 30rem;
    margin-top: 8rem;
    text-align: center;
}

@media screen and (max-width: 1250px) {
    .faq_content .faq_content_text-block {
        margin-top: 2rem;
    }
}


.faq_content .faq_content_text-block .faq_content__title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 680px) {
    .faq_content .faq_content_text-block .faq_content__title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}


.faq_content .faq_content_text-block .faq_content__text {
    font-size: 1.3rem;
}

@media screen and (max-width: 680px) {
    .faq_content .faq_content_text-block .faq_content__text {
        font-size: 1rem;
    }
}


.faq-container {
    width: 100%;
}

@media screen and (max-width: 1250px) {
    .faq-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 4rem;
        height: 100%;
    }
}

@media screen and (max-width: 950px) {
    .faq-container {
        display: flex;
        flex-direction: column;
    }
}


.faq {
    background-image: url("../images/geld3.png");
    border-radius: 1.5rem;
}

@media screen and (max-width: 1250px) {
    .faq {
        max-width: 100%;
    }
}


.faq-container .faq .faq--question {
    display: flex;
    flex-direction: row;
}

.faq-container .faq .faq--question .faq--question-arrow {
    width: 3rem;
    vertical-align: center;
    height: 3rem;
    margin-top: .3rem;
    transform: rotate(-90deg);
}


@media screen and (max-width: 480px) {
    .faq-container .faq .faq--question .faq--question-arrow {
        height: 2rem;
    }
}

.faq-container .faq {
    border: 2px solid #777777;
    border-radius: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

.faq-container .faq__height {
    height: 3rem;
}

.faq-container .faq .faq--question .faq-title {
    width: 100%;
    padding: 1rem;
}

@media screen and (max-width: 480px) {
    .faq-container .faq .faq--question .faq-title {
        padding: 0.5rem 1rem 1rem 1rem;
        font-size: 1rem;
    }
}


.faq-container .faq .faq--answer {
    display: none;
}

.faq-container .faq .faq--answer p {
    margin-top: 1.7rem;
    padding: .5rem;
}

.faq-container .faq .faq--answer hr {
    margin-top: 1rem;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.faq-container .is-active .faq--answer {
    display: block;
}

.faq-container .is-active .faq--question .faq--question-arrow {
    transform: rotate(0deg);
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 680px) {

    .logo {
        margin-top: .5rem;
    }

    .header-items {
        display: none;
    }

    .mobile-menu {
        display: flex;
        margin: auto;
    }

    .menu-icon {
        padding: 1rem;
        width: 2rem;
        height: 2rem;
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000e6;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    display: grid;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .close-btn {
    position: absolute;
    top: -14.5rem;
    right: 1.5rem;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .close-btn {
        font-size: 40px;
        top: -14.5rem;
        right: 1.5rem;
    }
}

.max-width {
    width: 100%;
}

.hidden {
    display: none;
}
